@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p-button {
    @apply transition-colors duration-200;
  }

  .p-inputtext:enabled:focus {
    @apply shadow-none border-blue-500;
  }

  .p-password input {
    @apply w-full;
  }

  .admin-sidebar-link {
    @apply flex items-center space-x-2 px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-md transition-colors duration-200;
  }

  .admin-sidebar-link.active {
    @apply bg-blue-50 text-blue-700;
  }
}

.custom-checkbox .p-checkbox-box {
  border: 2px solid #007ad9; /* Change border color */
  width: 20px; /* Increase size for better visibility */
  height: 20px; /* Increase size for better visibility */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox .p-checkbox-box.p-highlight {
  border-color: #005bb5; /* Change border color when checked */
}

.custom-checkbox .p-checkbox-icon {
  font-size: 1.2em; /* Increase checkmark size */
  color: white; /* Change checkmark color */
}

